.form-label{
    color: black;
}
#exampleFormControlInput1{
    background-color: #D9D9D9;
}
#exampleFormControlTextarea1{
    background-color: #D9D9D9;
}
.brand-title{
    width: 80px;
}
.img-tambah:hover{
    transform: scale(1.2);
    transition: 0,2s;
}
.img-tambah{
    margin-left: 5px;
    margin-top: -5px;
    width: 30px;
    height: 30px;
}
.judul-text{
    font-size: 16px;
    color: black;
}

.brand-judul{
    width: 20px;
}

.form-control{
    color: #D9D9D9;
}
.table-responsive{
    color: aqua;
}
.table-striped{
    color: black;
    border: 1px solid aqua;
    background-color: #efefef33;
    padding: 15px;
    overflow: auto;
    margin: auto;
    border-radius: 4px;
    border-collapse: collapse;
}
table{
    color: #444;
 

}
table>thead{
    background-color: rgb(12, 155, 155);
    color: whitesmoke;

}

table>th{
    padding: 15px;
}
table th, table td{
    border: 1px solid rgb(24, 23, 23);
    
}
table>body>tr>td{
    display: inline-block;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid whitesmoke;
    box-shadow: 0 2px 6px #0003;
}
.card-body{
    color: black;
}
.komentar-border{
    border-width: 5px;
    border-style: solid;
    border-radius: 20px;
    color: black;
    border: 1px solid aqua;
    background-color: #efefef33;
}
 /* Add your responsive styles here */
 @media (max-width: 768px) {
    /* Styles for screens with a maximum width of 768px or less */
    .navbar-collapse {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
    }

    .navbar-nav {
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }

    .header-left {
        margin-bottom: 10px;
    }

    .header-profile {
        text-align: center;
    }
}
